/* SAIT FONTS */
@font-face {
  font-family: "Livvic";
  font-style: normal;
  font-weight: 400;
  display: swap;
  src: url("../fonts/livvic-v11-latin-regular.woff2") format("woff2"),
       url("../fonts/livvic-v11-latin-regular.woff") format("woff"); 
}

@font-face {
  font-family:"Livvic";
  font-style: normal;
  font-weight: 600;
  display: swap;
  src: url("../fonts/livvic-v11-latin-600.woff2") format("woff2"),
       url("../fonts/livvic-v11-latin-600.woff") format("woff"); 
}

@font-face {
  font-family: "Livvic";
  font-style: normal;
  font-weight: 700;
  display: swap;
  src: url("../fonts/livvic-v11-latin-700.woff2") format("woff2"),
       url("../fonts/livvic-v11-latin-700.woff") format("woff"); 
}
/* SAIT FONTS */





* {
  box-sizing: border-box;
}

body {
  font-family: "Livvic";
}
.container {
  width: 1140px;
  padding: 0, 20px;
  margin-left: auto;
  margin-right: auto
}

.header-wrapper {
  padding-top: 80px;
  background-color: #014E56;
}

.header-inner {
  width: 1140px;
  justify-content: space-between;
  display: flex;
  align-items: center;
}

.site-logo {
  width: 159px;
  height: 40px;
}


.nav-list {
  width: 170px;
  justify-content: space-between;
  margin-right: 550px;
  list-style-type: none;
  display: flex;
  align-items: center;

}

.item-link {
  text-decoration: none;
  font-weight: 600;
  font-size: 18px;
  line-height: 28px;
  color: #FFFFFF;
}

.item-link:hover {
  color: rgb(255, 0, 0);
}

.header-btn {
  border: 2px solid;
  border-radius: 25px;
  padding: 6px 30px;
  text-decoration: none;
  color: #FFFFFF;
  font-weight: 600;
  font-size: 18px;
  line-height: 28px;
  margin: 0;
}
.header-btn:hover {
  color: #002529;
  background-color: #ffffff;
}




.section-wrapper {
  padding-top: 100px;
  background-color: #014E56 ;
}

.box {
  padding-bottom: 80px;
  display: flex;
  justify-content: space-between;
}

.section-inner {
  width: 540px;
}

.section-heading {
  font-weight: bold;
  font-size: 64px;
  line-height: 100px;
  color: #FFFFFF;
  margin: 0;
}
.list-span {
  font-style: normal;
  font-weight: bold;
  font-size: 32px;
  line-height: 48px;
  color: #F67E7E;
}

.ul-item {
  list-style-type: none;  
  margin-top: 40px;
  padding: 0;
}

.ul-list {
  font-weight: bold;
  font-size: 18px;
  line-height: 28px;
  color: #FFFFFF;
}

.ul-list2 {
  font-weight: bold;
  font-size: 18px;
  line-height: 28px;
  color: #FFFFFF;
}

.ul-list2::before {
  background-image: url(./img/Group\ 12.png);
  content: '';
  width: 72px;
  height: 72px;
  position: absolute;
  background-repeat: no-repeat;
}

.ul-list3 {
  font-weight: bold;
  font-size: 18px;
  line-height: 28px;
  color: #FFFFFF;
}

.ul-list3::before {
  background-image: url(./img/Group\ 13.png);
  content: '';
  width: 72px;
  height: 72px;
  position: absolute;
  background-repeat: no-repeat;
}

.ul-list::before {
  background-image: url(./img/Group\ 11.png);
  content: '';
  width: 72px;
  height: 72px;
  position: absolute;
  background-repeat: no-repeat;
}

.ul-list2:nth-child(2n) {
  padding-top: 20px;
}

.ul-list3:nth-child(3n) {
  padding-top: 20px;
}

.list-span1 {
  height: 72px;
  display: flex;
  align-items: center;
  margin-left: 90px;
}











.sait-footer {
  padding: 48px;
  background-color: #002529;
}

.footer-box {
  justify-content: space-between;
  display: flex;
}

.footer-link {
  text-decoration: none;
  color: #ffffff;
  font-weight: 600;
  font-size: 18px;
  line-height: 28px;
}

.footer-link:hover {
  color: #c41b1b;
}

.footer-ul {
  width: 140px;
  justify-content: space-between;
  list-style-type: none;
  display: flex;
  padding: 0;
}

.footer-span {
  display: block;
  font-weight: 600;
  font-size: 15px;
  line-height: 25px;
  color: #FFFFFF;
  mix-blend-mode: normal;
  opacity: 0.6;
}

.footer-box-5 {
  width: 445px;
}

.box-footer {
  width: 360px;
  justify-content: space-between;
}

.footer-img {
  width: 24px;
  height: 24px;
  display: block;
}

.footer-text {
  width: 300px;
  font-weight: 600;
  font-size: 15px;
  line-height: 100px;
  text-align: right;
  color: #FFFFFF;
  mix-blend-mode: normal;
  opacity: 0.6;
}

.footer-ul-list {
  width: 297px;
  margin: 0;
  padding-left: 180px;
  justify-content: space-between;
  display: flex;
  list-style-type: none;
}

.list-form {
  width: 540px;
}

.list-input {
  width: 540px;
  height: 42px;
  background-color: #014E56;
  padding: 20px;
  border: none;
  border-bottom: 1.5px solid white;
  margin-top: 20px;
  outline: none;
  font-weight: 600;
  font-size: 15px;
  line-height: 25px;
  letter-spacing: -0.115385px;
  color: #FFFFFF;
  mix-blend-mode: normal;
  opacity: 0.6;
}


.list-input-2 {
  margin-top: 20px;
  width: 540px;
  height: 84px;
  background-color: #014E56;
  padding: 20px;
  border: none;
  border-bottom: 1.5px solid white;
  outline: none;
  font-weight: 600;
  font-size: 15px;
  line-height: 25px;
  letter-spacing: -0.115385px;
  color: #FFFFFF;
  mix-blend-mode: normal;
  opacity: 0.6;
}

.btn {
  font-weight: 600;
  font-size: 18px;
  line-height: 28px;
  color: #004047;
  border: none;
  padding: 10px 30px;
  border-radius: 24px;
  margin-top: 30px;
}

.btn:hover {
  color: #ffffff;
  background-color: #82976d;
}